body{
  font-family: "Roboto", sans-serif;
}
p{
  display: inline-block;
  width: 600px;
}
.task-list{
  position: relative;
  top: 75px;
  left:390px;
}
.heading-bold{
  font-weight: bold;
  font-size: 60px;
}
.heading-thin{
  word-spacing: -30px;
  font-family: 'Microsoft Yi Baiti';
  font-weight:100;
  font-size: 80px;
  color: rgba(128, 128, 128, 0.918);
}
.add-list{
  font-family: 'Microsoft Yi Baiti';
  font-size: 45px;
  font-weight: normal;
  color: rgba(128, 128, 128, 0.918);
  letter-spacing: -1.5px;
  word-spacing: -10px;
}
.fa{
  color: #e74c3c;
}
.card-container{
  position: relative;
  top: 60px;
  left:400px;
}
.card{
  width: 220px;
  height: 330px;
  display: inline-block;
  border-radius: 7px;
  border: 2px solid #f35847;
  position: relative;
  box-shadow: 10px 10px 10px #00000029;
}
.card-title{
  margin-top: 25px;
  align-items: center;
  font-family:'Microsoft Yi Baiti';
  color: #e74c3c;
  font-size: 35px;
  text-align: center;
  letter-spacing: -1px;
}
hr{
  max-width: 86%;
  margin-right:0%;
}
.striked-word{
  text-decoration: line-through;
  text-decoration-thickness: 15%;
  color: #ff0000;
  font-size: 25px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  margin-top: 40px;
}
.card-spacing{
  margin-left:65px;
}
.check{
  margin-top: 25px;
  width: 25px;
  height: 20px;
  position: absolute;
  left: 10px;
}
.pending-task{
  font-size: 20px;
  position: absolute;
  left: 45px;
  top: 164px;
} 


/*mobileview styling*/
@media screen and (min-width:320px) and (max-width: 480px){
  body{
    font-family: "Roboto", sans-serif;
  }
  .mobile-task-list{
    margin-top: 20px;
    text-align: center;  
  }
  .mobile-heading-bold{
    font-weight: bold;
    font-size: 40px;
  }
  .mobile-heading-thin{
    word-spacing: -20px;
    font-family: 'Microsoft Yi Baiti';
    font-weight:100;
    font-size: 50px;
    color: rgba(128, 128, 128, 0.918);
  }
  .mobile-add-list{
  margin-top: -20px;
  text-align: center;   
  font-family: 'Microsoft Yi Baiti';
  font-size: 30px;
  font-weight: normal;
  color: rgba(128, 128, 128, 0.918);
  letter-spacing: -1px;
  word-spacing: -5px;
  }
  .fa{
    color: #e74c3c;
    }
  .mobile-card-container{
    margin-top: 30px;
    text-align: center;  
  }
  .mobile-card{
    display: inline-block;
    width: 200px;
    height: 270px;
    border-radius: 7px;
    border: 2px solid #f35847;
    position: relative;
    box-shadow: 10px 10px 10px #00000029;
  }
  .mobile-card-title{
    margin-top: 20px;
    align-items: center;
    font-family:'Microsoft Yi Baiti';
    color: #e74c3c;
    font-size: 35px;
    text-align: center;
    letter-spacing: -1px;
  }
  hr{
    max-width: 86%;
    margin-right:0%;
  }
  .mobile-striked-word{
  text-decoration: line-through;
  text-decoration-thickness: 15%;
  color: #ff0000;
  font-size: 22px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin-left: 3px;
  margin-top: 30px;
  }
  .mobile-check{
    margin-top: 25px;
    width: 22px;
    height: 20px;
    position: absolute;
    left: 5px;
  }
  .mobile-pending-task{
    font-size: 18px;
    position: absolute;
    left: 40px;
    margin-top: 25px;
  }
  .mobile-card-spacing{
    margin-top:30px;
  }  

}
