body{
    font-family: "Roboto", sans-serif;
}
.heading{
    margin-top: 45px;
    text-align: center; 
}
.line-left{
    display: inline-block;
    width: 170px;
    height: 0.3px;
    background: rgba(0, 0, 0, 0.226);
    margin-bottom: 20px;
}
.heading-text{
    font-weight: bold;
    font-size: 65px;
    letter-spacing: -1px;
}
.line-right{
    display: inline-block;
    width: 170px;
    height: 0.3px;
    background: rgba(0, 0, 0, 0.226);
    margin-bottom: 17px;
}
.middle{
    margin-top: 50px;
    text-align: center; 
}
.fa{
    color: #e74c3c;
}
.back{
    font-family: 'Microsoft Yi Baiti';
    margin-left: 10px;
    font-size: 48px;
    font-weight: 700;
    color: rgba(95, 93, 93, 0.918);
}
.card-container{
    position: relative;
    top: 60px;
    text-align: center; 
}
.card{
    width: 450px;
    height: 430px;
    display: inline-block;
    border-radius: 7px;
    border: 2px solid #f35847;
    position: relative;
    box-shadow: 10px 10px 10px #00000029;
}
.card-title{
    margin-top: 35px;
    align-items: center;
    font-family:'Microsoft Yi Baiti';
    color: #e74c3c;
    font-size: 42px;
    text-align: center;
    letter-spacing: -2px;
    word-spacing: -4px;
    font-weight: bold;
}
hr{
    margin-top: 15px;
    max-width: 68%;
    margin-right:0%;
    background: black;
  }
.striked-word{
    text-decoration: line-through;
    text-decoration-thickness: 15%;
    color: #e74c3c;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-left: 22px;
    margin-top: 40px;
}
.check{
    margin-top: 26px;
    width: 25px;
    height: 20px;
    position: absolute;
    left: 106px;
}
.pending-task{
    font-size: 28px;
    position: absolute;
    left: 143px;
    top: 182px;
    letter-spacing: -1px;
}
.add{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/*mobileview styling*?
@media screen and (min-width:320px) and (max-width: 480px){
    body{
        font-family: "Roboto", sans-serif;
    }
    .mobile-heading{
        margin-top: 25px;
        text-align: center; 
    }
    .mobile-line-left{
        display: inline-block;
        width: 50px;
        height: 0.3px;
        background: rgba(0, 0, 0, 0.226);
        margin-bottom: 8px;
    }
    .mobile-heading-text{
        font-weight: bold;
        font-size: 35px;
        letter-spacing: -1px;
    }
    .mobile-line-right{
        display: inline-block;
        width: 50px;
        height: 0.3px;
        background: rgba(0, 0, 0, 0.226);
        margin-bottom: 8px;
    }
    .mobile-middle{
        margin-top: 16px;
        text-align: center; 
    }
    .fa{
        color: #e74c3c;
    }
    .mobile-back{
        font-family: 'Microsoft Yi Baiti';
        margin-left: 8px;
        font-size: 38px;
        font-weight: bold;
        color: rgba(95, 93, 93, 0.918);
        letter-spacing: -1px;
    }
    .mobile-card-container{
        position: relative;
        top: 30px;
        text-align: center; 
    }
    .mobile-card{
        display: inline-block;
        width: 280px;
        height: 400px;
        border-radius: 7px;
        border: 2px solid #f35847;
        position: relative;
        box-shadow: 10px 10px 10px #00000029;
    }
    .mobile-card-title{
        margin-top: 35px;
        align-items: center;
        font-family:'Microsoft Yi Baiti';
        color: #e74c3c;
        font-size: 40px;
        text-align: center;
        letter-spacing: -2px;
        word-spacing: -4px;
        font-weight: bold;
    }
    hr{
        margin-top: 15px;
        max-width: 77%;
        margin-right:0%;
        background: black;
    }
    .mobile-striked-word{
        text-decoration: line-through;
        text-decoration-thickness: 15%;
        color: #e74c3c;
        font-size: 20px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        margin-top: 35px;
    }
    .mobile-check{
        margin-top: 24px;
        width: 24px;
        height: 18px;
        position: absolute;
        left: 30px;
    }
    .mobile-pending-task{
        font-size: 23px;
        position: absolute;
        left: 62px;
        top: 172px;
        letter-spacing: -1px;
    }
    .mobile-add{
        position: absolute;
        bottom: 10px;
        right: 12px;
    }
}
