h1{
    margin-bottom: 0px;
    margin-top: 0px;
}
.copy{
    margin-top: 0px;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.code{
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.co{
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.text{
    margin-top: -15px;
}
.content{
    margin-bottom: 35px;
}
.blue{
    color: blue;
}
.indent{
    margin-top: 0px;
    margin-left: 40px;
}
.padding{
    text-align: left;
    border: 1px solid black;
    padding: 4px;
}
.cell{
    text-align: left;
    border: 1px solid black;
    padding: 4px;
    background-color: #cccccc;
}
.code2{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.number{
    color: blue;
    font-style: italic;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
